@font-face {
	font-family: 'CMU Serif';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/cmunrm.ttf');
}

@font-face {
	font-family: 'CMU Serif';
	font-style: italic;
	font-weight: normal;
	src: url('../assets/cmunti.ttf');
}

@font-face {
	font-family: 'CMU Serif';
	font-style: italic;
	font-weight: bold;
	src: url('../assets/cmunbi.ttf');
}

@font-face {
	font-family: 'CMU Serif';
	font-style: normal;
	font-weight: bold;
	src: url('../assets/cmunbx.ttf');
}

html {
	font-family: 'CMU Serif';
	font-size: 14px;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

article {
	padding: 10vh 5vw;
	padding-top: 8vh;
	height: 100vh;
	overflow-y: auto;
	position: absolute;
	top: 3.5vh;
}

nav {
	position: absolute;
	background-color: rgb(95, 95, 95);
	width: 100%;
	margin: 0;
	padding: 0.5em 1em;
}
nav a {
	color: white;
	text-decoration: none;
}

.katex {
	font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0.5rem 0 0 0;
	margin: 0;
}
h1 {
	text-align: center;
	padding-bottom: 2em;
}
h1 { font-size: 2.5rem; }

h2,h3,h4,h5,h6 {
	font-size: 1.3rem;
}

h1 { counter-reset: H2; }

h2:before {
	content: counter(H2) ". ";
	counter-increment: H2;
}
h2 { counter-reset: H3; }

h3:before {
	content: counter(H2)"." counter(H3) ". ";
	counter-increment: H3;
}
h3 { counter-reset: H4;}


h4:before {
	content: counter(H2)"." counter(H3) "." counter(H4) ". ";
	counter-increment: H4;
}
h4 { counter-reset: H5;}


h5:before {
	content: counter(H2)"." counter(H3) "." counter(H4) "." counter(H5) ". ";
	counter-increment: H5;
}
h5 { counter-reset: H6;}


h6:before {
	content: counter(H2)"." counter(H3) "." counter(H4) "." counter(H5) "." counter(H6) ". ";
	counter-increment: H6;
}

ul {
	padding: 0 0 0 1.5em;
	margin: 0;
}
li, li p {
	padding: 0;
	margin: 0;
}
ol ol {
	list-style: lower-alpha;
}
del {
	text-decoration: underline;
}

strong del {
	text-decoration: none;
	font-weight: normal;
	font-variant: small-caps;
}

div.home {
	padding: 5vh 15vw;
}
div.disclaimer {
	font-style: italic;
}